<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navigation"></nav>
    <h1 th:text="${title}">Default Title</h1>

    <form method="post">
        <table>
           <tr>
               <td><input type="text" name="cheeseName" /></td>
           </tr>
           <tr>
               <td><textarea type="text" name="cheeseDescription"></textarea></td>
           </tr>
           <tr>
                <td><input type="submit" value="Add Cheese" /></td>
           </tr>

        </table>
    </form>

</body>
</html>