<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navigation"></nav>
    <h1 th:text="${title}">Default Title</h1>

    <form method="post" th:object="${cheese}">
        <table>
           <tr>
               <td><label th:for="name">Enter cheese name</label></td>
               <td><input th:field="*{name}" /></td>
               <td><span th:errors="*{name}" class="error"></span></td>
           </tr>
           <tr>
               <td><label th:for="description">Enter a description</label></td>
               <td><input th:field="*{description}"/></td>
               <td><span th:errors="*{description}" class="error"></span></td>
           </tr>
            <tr>
                <td><label th:for="type">Type</label></td>
                <td><select th:field="*{type}">
                        <option th:each="cheeseType : ${cheeseTypes}"
                                th:text="${cheeseType.name}"
                                th:value="${cheeseType}"></option>
                    </select>
                </td>

            </tr>
           <tr>
                <td><input type="submit" value="Add Cheese" /></td>
           </tr>

        </table>
    </form>

</body>
</html>