<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Cheese!</h1>

<h2 th:text="${cheese.name} + ' (' + ${cheese.cheeseId} + ')' ">Edit</h2>
<form action="/cheese/edit" method="post" th:object="${cheese}">
    <table>
        <tr>
            <td><label th:for="name">Cheese name</label></td>
            <td><input th:field="*{name}" th:value="*{name}"/></td>
            <td><span class="error" th:errors="*{name}"></span></td>
        </tr>
        <tr>
            <td><label th:for="description">Enter a description</label></td>
            <td><input th:field="*{description}" th:value="*{description}"/></td>
            <td><span th:errors="*{description}" class="error"></span></td>
        </tr>
        <tr>
            <td><label th:for="Rating">Enter a Rating (1-5)</label></td>
            <td><input th:field="*{rating}" th:value="*{rating}"/></td>
            <td><span th:errors="*{rating}" class="error"></span></td>
        </tr>
        <tr>
            <td><label th:for="type">Type</label></td>
            <td><select th:field="*{type}" th:value="*{type}">
                <option th:each="cheeseType : ${cheeseTypes}"
                        th:text="${cheeseType.name}"
                        th:value="${cheeseType}"></option>
            </select>
            </td>

        </tr>
        <tr>
            <input type="hidden" th:value="${cheese.cheeseId}" name="cheeseId" />
        </tr>
        <tr>
            <td><input type="submit" value="Edit Cheese" /></td>
        </tr>

    </table>
</form>

</body>
</html>