<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navigation"></nav>
    <h1 th:text="${title}">Default Title</h1>
    <!--TODO: remove all business logic/control flow from view and put it in the Controller-->
    <p th:unless="${cheeses} and ${cheeses.size()} ">No cheeses yet!<a href="/cheese/add">Add cheese</a></p>

    <form method="post">
        <table>
         <tr th:each="cheese : ${cheeses}">
             <td>
                 <input type="checkbox" name="cheeseIds" th:value="${cheese.cheeseId}" th:id="${cheese.cheeseId}" />
                 <label th:for="${cheese.cheeseId}" th:text="${cheese.name}"></label>

             </td>
         </tr>
        </table><br/>

        <input type="submit" value="Delete Cheese!"/>
    </form>
</body>
</html>